/* styles/cadastrostyle.css */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
    font-family: "Public Sans", sans-serif;
    background-color: #ffffff; /* Cor de fundo leve */
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header a {
    color: inherit !important; /* Mantém a cor do texto sem mudar para azul */
    text-decoration: none !important; /* Remove o sublinhado */
}

header a:hover {
    text-decoration: none !important; /* Remove o sublinhado ao passar o mouse */
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: #b4f0ff; /* Cor do Header */
    margin: 0 auto;
    flex-wrap: wrap;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.cabecalho .logo .imagem {
    width: 100px;
}

.cabecalho .titulo {
    margin-left: 7px;
    font-size: 17px;
    font-weight: 800;
    color: #1c0f8b; /* Nova cor do texto no cabeçalho */
}

.cabecalho .navegacao .menu {
    display: flex;
}

.cabecalho .navegacao .menu .item {
    margin: 10px;
}

.cabecalho .navegacao .menu .item a {
    padding: 10px;
    color: #1c0f8b; /* Nova cor do texto no cabeçalho */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.cabecalho .navegacao .menu .item a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #1c0f8b; /* Cor do texto ao passar o mouse */
}


.container {
    max-width: 600px;
    margin: auto;
    background-color: rgb(248, 254, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #000000;
}

.form-control, .form-select {
    border: 1px solid #4CAF50;
}

.form-control:focus, .form-select:focus {
    border-color: #388E3C;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
}

.cadastroForm button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastroForm button:hover {
    background-color: #1c0f8b;
}
