@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');

body {
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 255, 255); /* Cor de fundo */
    color: rgb(8, 8, 8); /* Cor do texto */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cabeçalho */
header a {
    color: inherit !important; /* Mantém a cor do texto sem mudar para azul */
    text-decoration: none !important; /* Remove o sublinhado */
}

header a:hover {
    text-decoration: none !important; /* Remove o sublinhado ao passar o mouse */
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: #b4f0ff; /* Cor do Header */
    margin: 0 auto;
    flex-wrap: wrap;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.cabecalho .logo .imagem {
    width: 100px;
}

.cabecalho .titulo {
    margin-left: 7px;
    font-size: 17px;
    font-weight: 800;
    color: #1c0f8b; /* Nova cor do texto no cabeçalho */
}

.cabecalho .navegacao .menu {
    display: flex;
}

.cabecalho .navegacao .menu .item {
    margin: 10px;
}

.cabecalho .navegacao .menu .item a {
    padding: 10px;
    color: #1c0f8b; /* Nova cor do texto no cabeçalho */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.cabecalho .navegacao .menu .item a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #1c0f8b; /* Cor do texto ao passar o mouse */
}

.conteudo-principal {
    text-align: center;
    padding: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que os itens quebrem em linhas */
}

.produto {
    background-color: rgb(248, 254, 255); /* Cor de fundo do produto */
    border-radius: 8px;
    padding: 10px;
    width: 30%; /* Largura dos itens */
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.produto img {
    max-width: 30%; /* Para garantir que a imagem não ultrapasse o tamanho do produto */
    border-radius: 4px 4px 0 0;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .produto {
        width: 45%; /* Largura menor para telas menores */
    }
}

@media (max-width: 480px) {
    .produto {
        width: 100%; /* Um item por linha em telas muito pequenas */
    }

    .cabecalho {
        flex-direction: column; /* Ajusta o cabeçalho para coluna em telas pequenas */
        align-items: center;
    }
}
