@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');

body{
font-family: "Public Sans", sans-serif;

}
/* o asterico serve para estilizar todos os elementos html da pagina.
        vamos zerar a margin e o padding
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

img{
    max-width: 100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

html{
    scroll-behavior: smooth;
}

/* CABEÇALHO */

.cabecalho .logo .imagem {
    
    width: 100px;

}

.cabecalho{

    display: flex;  
    justify-content:
    space-between ;
    align-items: center;
    padding: 25px 0;
    background-color: #ffffff;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media(max-width:624px){
    .cabecalho{
        justify-content: center;
    }

    .cabecalho .logo {

        margin-bottom:30px;
    }
    .cabecalho .menu .item a {
        font-size : calc(0.6em +1vw);
    }

}


.cabecalho .logo{

    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.cabecalho .titulo{

    margin-left: 7px;
    font-size: 17px;
    transition: 0.3s ease-in-out;
    font-weight: 800;
}

.cabecalho .titulo:hover{
    color: #362522;
}

.cabecalho .menu{

    display:flex;

}

.cabecalho .navegacao .menu .item{
    margin: 10px;
}
.cabecalho .navegacao .menu .item a{
    padding: 10px;
}
.cabecalho .navegacao .menu .item a:hover{
    background-color: #362522;
    color :antiquewhite;
}
/* CABEÇALHO */
    .conteudo-principal .paineis {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        position: relative;
    }
    
/* PAINEL PRINCIPAL
@media(max-width= 900px){
    .conteudo-principal.paineis{
        height: 500px;
    }


}
    .conteudo-principal .paineis .imagem-painel{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        filter: brightness(80%)
    }

    .conteudo-principal .paineis .sobrenos{
        background-image: url(../imagens/painelprime.jpg);
    }

    .conteudo-principal .paineis .produtos{
        background-image: url(../imagens/painelprime.jpg);
    }
    .conteudo-principal .paineis .contato{
        background-image: url(../imagens/painelprime.jpg);
    }

    .conteudo-principal .paineis .titulo {
        color: aliceblue;
        text-transform: uppercase;
        font-size: calc(1em+1vw);
    }
    .conteudo-principal .paineis .seta{
        background-image: url(../imagens/seta.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: 50px ;
        position: absolute;
        text-indent: 100%;
        overflow: hidden;
    }

    .conteudo-principal .paineis .seta.btn-voltar{
        left: 20px;
        transform: rotateY(180deg);
    }
    .conteudo-principal .paineis .seta.btn-avancar{
        right: 20px;
    }
    */
    
/* PAINEL NOVO */



/* PAINEL NOVO */
.titulo1{
    color: #ffffff;
}
.subtitulo{
    color: #362522;
}
    /*QUEM SOMOS */

    @media (max-width=1200px){

        .sobre-nos .conteudo {
            flex-direction: column;
            text-align: center;
            padding: 100px 20%;
        }
        .sobre-nos .conteudo .imagem{
            display: none;

        }
        .sobre-nos .conteudo .informacoes{
            width: 100%;

        }
    }
    .sobre-nos{
        background-color: #FEF6C9;
        margin-bottom: 20px;
    }
    
    .sobre-nos .conteudo {
        display: flex;
        align-items: center;
        padding: 0 10%;
    }
    
    .sobre-nos .conteudo .informacoes{
        width: 40%;
    }
    
    .sobre-nos .conteudo .imagem{
        width: 60%;
    }
    .sobre-nos .conteudo .informacoes .titulo{
        font-size:50px;
        color: #270808;
        margin-bottom:20px;
    }
    
    .sobre-nos .conteudo .informacoes .texto{
        font-size: 20px;
        line-height: 1.5;
        color: #000000;
        font-weight: 500;
    }
    /* QUEM SOMOS */

    /* FOOTER */


    .rodape{
        padding: 80px 0 20 0;

    }

    .rodape .navegacao  {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
.rodape .rede-sociais{
    display: flex;
}

.rodape .rede-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 1px solid #362522;
    border-radius:50%;
    padding:15px;
    width: 65px;
    transition: 0.3s ease-in-out;
}

.rodape .rede-sociais a:hover{

    background-color: #362522;

}
.rodape .navegacao .logo .imagem{
        width: 100px;
}

.rodape .copyright {
    margin-top: 10px;
    text-align: center;

}

@media(max-width: 940px){
    .rodape .navegacao {
        justify-content: center;
    }

    .rodape .navegacao .logo {
      margin-bottom: 30px;
    }

    .rodape .naegacao .logo ,
    .rodape .navegacao  .rede-sociais{
        width: 100%;
        justify-content: center;
    }


}
/* FOOTER */


header a {
    color: inherit !important; /* Mantém a cor do texto sem mudar para azul */
    text-decoration: none !important; /* Remove o sublinhado */
}

header a:hover {
    color: #DC965A !important; /* Define uma cor de hover, se desejar */
    text-decoration: none !important; /* Remove o sublinhado ao passar o mouse */
}

footer a {
    color: inherit !important; /* Mantém a cor padrão do rodapé */
    text-decoration: none !important; /* Remove o sublinhado */
}

footer a:hover {
    color: #DC965A !important; /* Cor de hover personalizada */
    text-decoration: none !important; /* Remove o sublinhado ao passar o mouse */
}
