@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');

body {
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 255, 255); /* Cor de fundo */
    color: rgb(8, 8, 8); /* Cor do texto */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255); /* Cor do cabeçalho */
}

.cabecalho .logo .imagem {
    width: 100px; /* Tamanho da logo */
}

.navegacao ul {
    list-style: none;
    display: flex;
}

.navegacao li {
    margin: 0 15px;
}

.navegacao a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navegacao a:hover {
    color: rgb(172, 79, 25); /* Cor ao passar o mouse */
}

.conteudo-principal {
    text-align: center;
    padding: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que os itens quebrem em linhas */
}

.produto {
    background-color: white; /* Cor de fundo do produto */
    border: 1px solid rgb(131, 131, 131); /* Borda do produto */
    border-radius: 8px;
    padding: 10px;
    width: 30%; /* Largura dos itens */
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto img {
    max-width: 30%; /* Para garantir que a imagem não ultrapasse o tamanho do produto */
    border-radius: 4px 4px 0 0;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Cor do rodapé */
    color: rgb(0, 0, 0);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .produto {
        width: 45%; /* Largura menor para telas menores */
    }
}

@media (max-width: 480px) {
    .produto {
        width: 100%; /* Um item por linha em telas muito pequenas */
    }

    .cabecalho {
        flex-direction: column; /* Ajusta o cabeçalho para coluna em telas pequenas */
        align-items: center;
    }
}
